///////////////////////////////////////////////////////////
/// _skill.scss
///////////////////////////////////////////////////////////

@use "../../foundation/base";

.p-secSkill {
    margin-top: 75px;
    padding: 0 var(--indent-sec);

    &__grid {
        margin-top: 33px;
        padding: 0 var(--indent-inner-sec);
        display: grid;
        grid-gap: 113px 55px;
        // grid-template-columns: max-content max-content;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

        @include base.mq(sp) {
            grid-template-columns: 1fr
        }

        &__item {
            &__ctn {
                display: flex;
                align-items: center;
                column-gap: 15px;
            }

            &__heading {
                margin-right: calc(15px - 0.1em); //-0.1emは右端のletter-spacing打ち消し
                @include base.font_rokkitt300;
                font-size: base.p2r(24);
                letter-spacing: 0.1em;
            }

            &__img {
                height: 40px;
                width: auto;

                @include base.mq(sp) {
                    height: 30px;
                }
            }

            &__text {
                margin-top: 33px;
                margin-left: 40px;

                @include base.mq(sp) {
                    margin-top: 20px;
                    margin-left: 0;
                }
            }
        }
    }
}